/*
 Dont touch
*/

html, body {
	margin: 0 auto;
	font-size: 1em;
	width: 100%;
	height: 100%;
	text-align: center;
}

h1, nav, .tab {
	border-style: solid;	  
	border-width: 0px 0px 2px 0px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 0.5em;
}


td, th {
	border: 2px solid black;	  
	margin-top: 5px;
	margin-bottom: 5px;
	padding:10px;
}
td {
	height: 20px;
}
th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #DCDCDC;
}

div, nav {
	padding: 0.5em;
}


.tense {
	width: 100%;
	table-layout: fixed;
}

.tense td {
	width: 33%;
}

nav button, nav a {
	font-weight: bold;
	font-size: 1em;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: inherit;
	text-decoration: none;
}



h1 {
	margin: 0;
	padding: 0.8em;
	text-align: center;
	font-size: 40px;	
	background: #dcdcdc;
}
h2 {
	text-align: center;
	font-size: 30px;
}

h3 {
	text-align: center;
	font-size: 20px;
}


.results {
	background: #dcdcdc;
	min-height: 100%;
}

.result {
	max-width: 650px;
	min-width: 400px;
	margin: 0.5em;
	padding: 0.7em;
	background: #fff;
	display: inline-block;
	border: 2px solid black;	  
}

.result p {
	text-align: left;
}

a {
	color: black;
}
a:link {
	color: black;
}
a:hover {
	color: darkred;
}
a:active {
	color: black;
}

.clickableWord {
	font-size: 1em;
	color: black;
	background: none;
	border: none;
	text-decoration: underline;
}

input, select, textarea {
	font-size: 1em;
	padding: 11px;
	border: 1px solid black;
	box-sizing: border-box;
}

input[type=text], textarea{
	width: 500px;
}

input[type=number]{
	width: 250px;
}

select {
	color: #444;
	width: 250px;
}

textarea {
	resize: none;
}

label {
	font-size: 1em;
}

#settings th, #settings td {
	border: 0px !important;
}

@media only screen and (max-width: 600px){

	div {
		padding: 0em;
		margin: 0em;
	}

	input, select, textarea {
		max-width: 100% !important;
		width: 100% !important;
		margin: 0;
	}

	table {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		border-bottom: 0;	  
	}

	#about p, #settings p {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.result {
		width: 100%;
		padding: 0em;
		margin: 0;
		border: 0px solid black;	  
	}

	.tense td {
		width: 10%;
	}
}


